version: '3.8'

volumes:
  database_volume:
  certbot_etc:
  certbot_var:

networks:
  network:

services:
  database:
    image: postgres:16
    container_name: database
    restart: no
    ports:
      - "5432:5432"
    volumes:
      - database_volume:/var/lib/postgresql/data
    networks:
      - network
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=dummy_password
      - POSTGRES_DB=database

  backend:
    build: backend
    container_name: backend
    restart: no
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - database
    networks:
      - network

  frontend:
    build: frontend
    container_name: frontend
    restart: no
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file: .env
    networks:
      - network
    environment:
      - NODE_ENV=production
      - ORIGIN=http://localhost
      - PROTOCOL_HEADER=x-forwarded-proto
      - HOST_HEADER=x-forwarded-host

  proxy:
    image: nginx:latest
    container_name: proxy
    restart: no
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./proxy/default.conf:/etc/nginx/conf.d/default.conf
      - certbot_etc:/etc/letsencrypt
      - certbot_etc:/var/lib/letsencrypt
    networks:
      - network

  certbot:
    image: certbot/certbot
    container_name: certbot
    restart: no
    volumes:
      - ./proxy/default.conf:/etc/nginx/conf.d/default.conf
      - certbot_etc:/etc/letsencrypt
      - certbot_etc:/var/lib/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $!; done;'"