version: '1'

volumes:
  database_volume:

networks:
  network:

services:
  database:
    image: postgres:16
    container_name: database
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - database_volume:/var/lib/postgresql/data
    networks:
      - network
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=dummy_password
      - POSTGRES_DB=database

  backend:
    build: backend
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    env_file: .env
    depends_on:
      - database
    networks:
      - network

  frontend:
    build: frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file: .env
    networks:
      - network
    environment:
      - NODE_ENV=production
      - ORIGIN=http://localhost
      - PROTOCOL_HEADER=x-forwarded-proto
      - HOST_HEADER=x-forwarded-host

  proxy:
    build: proxy
    container_name: proxy
    restart: always
    ports:
      - "80:80"
    #  - "443:443"
    depends_on:
      - frontend
      - backend
    #volumes:
    #  - ./proxy/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - network