@import 'tailwindcss';
@plugin 'flowbite/plugin';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@source "../node_modules/simple-datatables/dist";
@source "../node_modules/@flowbite-svelte-plugins/datatable/dist";
@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --font-sans: "inter";
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: var(--color-secondary-dark);/*#fe795d;*/
  --color-primary-600: var(--color-accent);
  --color-primary-700: var(--color-secondary-dark); /*#eb4f27;*/
  --color-primary-800: var(--color-secondary-dark);/*#cc4522;*/
  --color-primary-900: var(--color-secondary-dark); /*#a5371b; */

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
  
  --color-background-50: #F4FFF2; /*#eefff1;*/
  --color-text: #091602;
  --color-primary: #98dc9e;
  --color-secondary: #dcffdb;
  --color-secondary-dark: var(--color-green-700);
  --color-accent-dark: var(--color-green-800);

  --color-table-dark: #d1f3d1;
  --color-accent: #3dff4a;
}

@font-face {
  font-family: 'inter';
  font-display: swap;
  font-weight: 100 900;
  font-style: italic;
  src: url(../src/lib/assets/Inter-VariableFont_opsz\,wght.ttf);
}


.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination .datatable-active button,
.datatable-pagination .datatable-active button:focus,
.datatable-pagination .datatable-active button:hover {
  background-color: #ffe4de;
  cursor: default;
}

.datatable-wrapper .datatable-table tbody tr.selected {
  background-color: #fff1ee !important;
}

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}