@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@plugin 'flowbite/plugin';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
@source "../node_modules/simple-datatables/dist";
@source "../node_modules/@flowbite-svelte-plugins/datatable/dist";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Inter";

    --color-primary-50: #fff5f2;
    --color-primary-100: #fff1ee;
    --color-primary-200: #ffe4de;
    --color-primary-300: #ffd5cc;
    --color-primary-400: #ffbcad;
    --color-primary-500: var(--color-secondary-dark);/*#fe795d;*/
    --color-primary-600: var(--color-accent);
    --color-primary-700: var(--color-secondary-dark); /*#eb4f27;*/
    --color-primary-800: var(--color-secondary-dark);/*#cc4522;*/
    --color-primary-900: var(--color-secondary-dark); /*#a5371b; */
    --color-secondary-50: #f0f9ff;
    --color-secondary-100: #e0f2fe;
    --color-secondary-200: #bae6fd;
    --color-secondary-300: #7dd3fc;
    --color-secondary-400: #38bdf8;
    --color-secondary-500: #0ea5e9;
    --color-secondary-600: #0284c7;
    --color-secondary-700: #0369a1;
    --color-secondary-800: #075985;
    --color-secondary-900: #0c4a6e;

    --color-background-50: #F4FFF2; /*#eefff1;*/
    --color-text: #091602;
    --color-primary: #98dc9e;
    --color-secondary: #dcffdb;
    --color-secondary-dark: var(--color-green-700);
    --color-accent-dark: var(--color-green-800);

    --color-table-dark: #d1f3d1;
    --color-accent: #3dff4a;
    --color-csw: #FF6A00;
}

.dark {
    --font-sans: "Inter";

    --color-primary-50: #071308;
    --color-primary-100: #0d260f;
    --color-primary-200: #1a4c1e;
    --color-primary-300: #27722d;
    --color-primary-400: #34983c;
    --color-primary-500: #41be4b; /*#fe795d;*/
    --color-primary-600: #67cb6f;
    --color-primary-700: #8dd893; /*#eb4f27;*/
    --color-primary-800: #b3e5b7; /*#cc4522;*/
    --color-primary-900: #d9f2db; /*#a5371b; */

    --color-secondary-50: #011a00;
    --color-secondary-100: #023300;
    --color-secondary-200: #036600;
    --color-secondary-300: #059900;
    --color-secondary-400: #07cc00;
    --color-secondary-500: #08ff00;
    --color-secondary-600: #3aff33;
    --color-secondary-700: #6bff66;
    --color-secondary-800: #9cff99;
    --color-secondary-900: #ceffcc;

    --color-background-50: #020f00; /*#eefff1;*/
    --color-text: #ebfce9;
    --color-primary: #236729;
    --color-secondary: #012400;
    --color-secondary-dark: var(--color-green-700);
    --color-accent-dark: var(--color-green-800);

    --color-table-dark: #053105;
    --color-accent: #00c20d;
    --color-csw: #FF6A00;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination .datatable-active button,
.datatable-pagination .datatable-active button:focus,
.datatable-pagination .datatable-active button:hover {
    background-color: #ffe4de;
    cursor: default;
}

.datatable-wrapper .datatable-table tbody tr.selected {
    background-color: #fff1ee !important;
}

@layer base {
    /* disable chrome cancel button */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}